body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 20px;
  margin: 20px;
}
button,
h3 {
  margin: 20px !important;
  color: violet !important;
  font-weight: 900 !important;
}

.patient a {
  text-decoration: none !important;
}

label {
  font-weight: bold;
}

.patients {
  font-weight: bold;
}
